<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restaurant #<%= @restaurant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restaurants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit restaurant
        </a>
      </div>

      <div class="col">
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-block btn-outline-secondary">
          Delete restaurant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Rest name
      </dt>
      <dd>
        <%= @restaurant.rest_name %>
      </dd>

      <dt>
        Rest address
      </dt>
      <dd>
        <%= @restaurant.rest_address %>
      </dd>

      <dt>
        Rest genre
      </dt>
      <dd>
        <%= @restaurant.rest_genre %>
      </dd>

      <dt>
        Rest rating
      </dt>
      <dd>
        <%= @restaurant.rest_rating %>
      </dd>

      <dt>
        Rest link
      </dt>
      <dd>
        <%= @restaurant.rest_link %>
      </dd>

      <dt>
        Rest pic
      </dt>
      <dd>
        <%= @restaurant.rest_pic %>
      </dd>

      <dt>
        Rest menu
      </dt>
      <dd>
        <%= @restaurant.rest_menu %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

