<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Explore places
    </h1>

    <!--<a href="/places/new" class="btn btn-block btn-outline-secondary">-->
    <!--  Add a new place-->
    <!--</a>-->
  </div>
</div>

<div>
  <label for="itinerary">
      Current itinerary
  </label>

    <%= select_tag("itinerary_id", options_from_collection_for_select(Itinerary.all, :id, :name_of_trip, @itinerary.try(:name_of_trip)), :class => "form-control") %>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Place name
        </th>

        <th>
          Place address
        </th>

        <th>
          Place description
        </th>

        <th>
          Place rating
        </th>

        <th>
          Place link
        </th>

        <th>
          Place pic
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @places.each do |place| %>
      <tr>
        <td>
          <%= place.id %>
        </td>

        <td>
          <%= place.place_name %>
        </td>

        <td>
          <%= place.place_address %>
        </td>

        <td>
          <%= place.place_description %>
        </td>

        <td>
          <%= place.place_rating %>
        </td>

        <td>
          <%= place.place_link %>
        </td>

        <td>
          <%= place.place_pic %>
        </td>

        <td>
          <%= time_ago_in_words(place.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(place.updated_at) %> ago
        </td>

        <td>
          <a href="/places/<%= place.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
