<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="row mb-5">
  <div class="col-md-15">
    <h1 align="center">
      Things to do near <%= @location %>
    </h1>

    <div class="row mb-1">
      <div class="col">
        <a href="/places" class="btn btn-block btn-secondary">
          New search
        </a>
      </div>
    </div>
    <hr>
    <div class="card-columns">
    <% for i in 1..@parsed_data.dig('businesses').count do %>
      
      <!--Define variables to pass through if add to itinerary-->
      <% @yelpid = @parsed_data.dig('businesses', i, 'id') %>
      <% @image_url = @parsed_data.dig('businesses', i, 'image_url') %>
      <% @name = @parsed_data.dig('businesses', i, 'name') %>
      <% @address = @parsed_data.dig('businesses', i, 'location', 'address1') %>
      <% @city = @parsed_data.dig('businesses', i, 'location', 'city') %>
      <% @state = @parsed_data.dig('businesses', i, 'location', 'state') %>
      <% @zip = @parsed_data.dig('businesses', i, 'location', 'zip_code') %>
      <% @rating = @parsed_data.dig('businesses', i, 'rating') %>
      <% @category = @parsed_data.dig('businesses', i, 'categories', 0, 'title') %>
      <% @link = @parsed_data.dig('businesses', i, 'url') %>
      
      <div class="card border-secondary mb-3" style="width: 400px">
        <img class="card-img-top centered-and-cropped" width="400" height="300" src="<%= @image_url %>">
        <div class="card-body">
          <h5 class="card-title"><%= @name %></h5>
          <p class="card-text"><%= @address %></p>
          <%= @city.to_s + ", " + @state.to_s + " " + @zip.to_s %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-secondary">Rating</span> <%= @rating %> / 5.0</li>
          <li class="list-group-item"><span class="badge badge-secondary">Category</span> <%= @category %></li>
        </ul>
        
        <div class="card-body">
            <a role="button" class="btn btn-primary" href="<%= @link %>">View details</a>&nbsp;&nbsp;&nbsp;
            <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd<%= @name %>"><font color="white">Add to Itinerary</font></a>
            
            <!--Generate modal dynamically-->
            <div class="modal fade" id="modalAdd<%= @name %>" tabindex="-1" role="dialog" aria-labelledby="modalAdd<%= @name %>" aria-hidden="true">
              <div class="modal-dialog" role="form">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    
                    <h5 class="modal-title" id="addItinerary">Add <%= @name %> to Itinerary</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                      
                      <!--Begin form-->
                      <form action="/create_planned_fun">
                        
                        <div class="form-group">
                          <label for="itinerary_id" class="col-form-label">Itinerary:</label>&nbsp;
                          <%= select_tag("itinerary_id", options_from_collection_for_select(Itinerary.where(user_id: current_user.id).all, :id, :name_of_trip, selected = @current_itinerary_id), :class => "form-control") %>
                        </div>
                        
                        <div class="form-group">
                          <label for="day" class="col-form-label">Day:</label>&nbsp;
                          <%= select_tag("day", options_for_select([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21], 1), :class => "form-control") %>
                        </div>
                        
                        <div class="form-group">
                          <label for="order_in_day" class="col-form-label">Meal:</label>&nbsp;
                          <%= select_tag("order_in_day", options_for_select(["Morning","Afternoon","Evening"], @term), :class => "form-control") %>
                        </div>
                        
                        <input type="hidden" name="yelpid" value="<%= @yelpid %>">
                      
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-info" type="submit" id="submitForm">Add</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
            <!--End dynamic modal-->
            
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>

