<% if @hotel.errors.any? %>
  <% @hotel.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit hotel #<%= @hotel.id %>
</h1>

<hr>

<form action="/update_hotel/<%= @hotel.id %>" method="post">

  <div class="form-group">
    <label for="hotel_name">
      Hotel name
    </label>

    <input type="text" id="hotel_name" name="hotel_name" class="form-control" value="<%= @hotel.hotel_name %>">
  </div>

  <div class="form-group">
    <label for="hotel_address">
      Hotel address
    </label>

    <input type="text" id="hotel_address" name="hotel_address" class="form-control" value="<%= @hotel.hotel_address %>">
  </div>

  <div class="form-group">
    <label for="hotel_rating">
      Hotel rating
    </label>

    <input type="text" id="hotel_rating" name="hotel_rating" class="form-control" value="<%= @hotel.hotel_rating %>">
  </div>

  <div class="form-group">
    <label for="hotel_link">
      Hotel link
    </label>

    <input type="text" id="hotel_link" name="hotel_link" class="form-control" value="<%= @hotel.hotel_link %>">
  </div>

  <div class="form-group">
    <label for="hotel_pic">
      Hotel pic
    </label>

    <input type="text" id="hotel_pic" name="hotel_pic" class="form-control" value="<%= @hotel.hotel_pic %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update hotel
  </button>
</form>

<hr>

<a href="/hotels">
  Go back
</a>
