<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All days
    </h1>

    <a href="/days/new" class="btn btn-block btn-outline-secondary">
      Add a new day
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Itinerary
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @days.each do |day| %>
      <tr>
        <td>
          <%= day.id %>
        </td>

        <td>
          <%= day.itinerary_id %>
        </td>

        <td>
          <%= time_ago_in_words(day.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(day.updated_at) %> ago
        </td>

        <td>
          <a href="/days/<%= day.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
