<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1 align="center">
      <%= @itinerary.name_of_trip %>
      <% @location = @itinerary.location_of_trip %>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/places?location=<%= @itinerary.location_of_trip %>"" class="btn btn-block btn-outline-secondary">
          Add a place
        </a>
      </div>

      <div class="col">
        <a href="/restaurants?location=<%= @itinerary.location_of_trip %>" class="btn btn-block btn-outline-secondary">
          Add a restaurant
        </a>
      </div>

      <div class="col">
        <a href="/hotels?location=<%= @itinerary.location_of_trip %>" class="btn btn-block btn-outline-secondary">
          Add a hotel
        </a>
      </div>
    </div>

    <% for i in 1..@itinerary.days_in_trip.to_i do %>
      <div><h3 align="center">
        Day <%= i %>
      </h3></div>
      
      <div><h4>Breakfast</h4></div>
        <% PlannedMeal.where(itinerary_id: @itinerary.id, order_in_day: "breakfast", day_id: i).each do |meal| %> 
          <% @restaurant = Restaurant.where(id: meal.rest_id) %>
          <div class="card">
            <img class="card-img-top" src="<%= @restaurant.rest_pic %>">
            <div class="card-body">
              <h5 class="card-title"><%= @restaurant.rest_name %></h5>
              <p class="card-text"><%= @restaurant.rest_address %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @restaurant.rest_genre %></li>
              <li class="list-group-item"><%= @restaurant.rest_rating %></li>
            </ul>
            <div class="card-body">
              <a href="<%= @restaurant.rest_link %>" class="card-link">View details</a>
            </div>
          </div>
          <% end %>
      
      <div><h4>Morning</h4></div>
      
      <div><h4>Lunch</h4></div>
      
      <div><h4>Afternoon</h4></div>
      
      <div><h4>Dinner</h4></div>
      
      <div><h4>Evening</h4></div>
    
    <% end %>

  </div>
</div>
